<p id="notice"><%= notice %></p>

<p>
  <strong>Name first:</strong>
  <%= @dead_person.name_first %>
</p>

<p>
  <strong>Name mid:</strong>
  <%= @dead_person.name_mid %>
</p>

<p>
  <strong>Name last:</strong>
  <%= @dead_person.name_last %>
</p>

<p>
  <strong>Date death:</strong>
  <%= @dead_person.date_death %>
</p>

<p>
  <strong>Date birth:</strong>
  <%= @dead_person.date_birth %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @dead_person.ssn %>
</p>

<p>
  <strong>Cause:</strong>
  <%= @dead_person.cause %>
</p>

<h3>Policies</h3>
<% @dead_person.policies.each do |policy| %>
  <p>
    <strong>Policy Number:</strong>
    <%= policy.number_policy %>
  </p>
<% end %>

<h3>New Policy</h3>
<%= render 'policies/form' %>

<h3>Beneficiaries</h3>
<% @dead_person.beneficiaries.each do |beneficiary| %>
  <p>
    <strong>Beneficiary:</strong>
    <%= beneficiary.name_first %>
    <br>
    <strong>Policy #1:</strong>
    <%= beneficiary.policy_id %>
  </p>
<% end %>

<%= link_to 'Edit', edit_dead_person_path(@dead_person) %> 
<%= link_to 'Back', dead_people_path %>
