<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @document.name %>
</p>

<p>
  <strong>Dead person:</strong>
  <%= @document.dead_person %>
</p>

<p>
  <strong>Beneficiary:</strong>
  <%= @document.beneficiary %>
</p>

<p>
  <strong>Policy:</strong>
  <%= @document.policy %>
</p>

<%= link_to 'Edit', edit_document_path(@document) %> |
<%= link_to 'Back', documents_path %>
