<h1>Listing number_policies</h1>

<table>
  <thead>
    <tr>
      <th>Policy amount</th>
      <th>Dead person</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @number_policies.each do |number_policy| %>
      <tr>
        <td><%= number_policy.policy_amount %></td>
        <td><%= number_policy.dead_person %></td>
        <td><%= link_to 'Show', number_policy %></td>
        <td><%= link_to 'Edit', edit_number_policy_path(number_policy) %></td>
        <td><%= link_to 'Destroy', number_policy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Number policy', new_number_policy_path %>
