<p id="notice"><%= notice %></p>

<p>
  <strong>Face value:</strong>
  <%= @number_policy.face_value %>
</p>

<p>
  <strong>Dead person:</strong>
  <%= @number_policy.dead_person %>
</p>

<%= link_to 'Edit', edit_number_policy_path(@number_policy) %> |
<%= link_to 'Back', number_policies_path %>
