<div class="panel panel-primary">
  <div class="panel-heading">
    <h1 class="panel-title">Listing Policies</h1>
  </div>  
    <table class="table">
      <th>Number Policy</th>
      <th>Face Value</th>
      <th>Dead Person</th>
      <th colspan="3"></th>
    </table>
</div>

  <tbody>
    <% @policies.each do |policy| %>
      <tr>
        <td><%= policy.number_policy %></td>
        <td><%= policy.face_value %></td>
        <td><%= policy.dead_person %></td>
        <td><%= link_to 'Show', policy %></td>
        <td><%= link_to 'Edit', edit_policy_path(policy) %></td>
        <td><%= link_to 'Destroy', policy, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Policy', new_policy_path %>
