<p id="notice"><%= notice %></p>

<p>
  <strong>Number policy:</strong>
  <%= @policy.number_policy %>
</p>

<p>
  <strong>Face value:</strong>
  <%= @policy.face_value %>
</p>

<p>
  <strong>Dead person SSN:</strong>
  <%= @policy.dead_person_id %>
</p>

<h3>Beneficiaries</h3>
<% @policy.beneficiaries.each do |beneficiary| %>
  <p>
    <strong>Beneficiary:</strong>
    <%= beneficiary.name_first %>
    <br>
    <strong>Policy #1:</strong>
    <%= beneficiary.policy_id %>
    <br>
    Added on: <%= beneficiary.created_at %>
  </p>
<% end %>



<% if @policy.dead_person.nil? %>
  <%= link_to 'Back', policies_path %>
<% else %>
  <%= link_to 'Back', @policy.dead_person %>
<% end %> 

<%= link_to 'Edit', edit_policy_path(@policy) %> |
